<div class = "col-md-12">
</div>

<%= form_for [@project,@membership], html: {class: "well form-inline"} do |f| %>

  <div class = "form-group">
    <div class = "form-controls">
      <%= f.collection_select :user_id, User.order(:last_name), :id, :full_name, {include_blank: "Please select a user..."}, {class: "form-control"} %>
    </div>
  </div>

  <div class = "form-group">
    <div class = "form-controls">
      <%= f.select :role, [["Owner"],["Member"]], {include_blank: "Membership"}, {class: "form-control"} %>
    </div>
  </div>

  <div class = "form-group">
    <div>
      <%= f.submit "Add New Member", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
