//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/journal/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/journal/bootswatch";

body {
  padding-top: 60px;
}

footer {
  padding: 1em 0;
  margin-top: 1em;
  border-top: 1px solid #ccc;
}

.panel-primary {
  border-color: #7b7c7c;
}

.panel-primary > .panel-heading {
  background-color: #7b7c7c;
  border-color: #7b7c7c;
}

tr.membership-form > td {
  padding-bottom: 10px;
}

.img-footer {
  max-width: 2em;
  max-height: 2em;
  margin-right: .5em;
}

.alert-danger {
  width: 40%;
}

.col-md-offset-2 {
  margin-left: 17.1%
}

#error-explanation {
  color: black;
}

#red-error-text {
  color: red;
}

#signin-well-custom {
  min-width: 360px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#signup-well-custom {
  min-width: 360px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#signup-signin-button {
  margin-bottom: 0px;
}

#signup-signin-header {
  margin-top: 0px;
}

#well-custom {
  min-width: 360px;
}

#check_last_owner {
  color: black;
  width: 40%;
}

textarea.form-control {
  max-width: 100%;
}

#username_comment {
  text-decoration: underline;
}

.no_bold {
  font-weight: normal;
}
